* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header .navbar {
  background-color: rgb(36, 35, 35);
  padding: 7px 0;
}
.header img {
  width: 50px;
  height: 50px;
}
.header button.navbar-toggler {
  border: none;
  box-shadow: none;
}
.header button.navbar-toggler[aria-expanded="true"] span {
  color: #fff;
}
.header a.nav-NavLink {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
}
.header a.nav-NavLink.active {
  color: goldenrod;
}
a {
  text-decoration: none;
}
